@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #f8f8f8;
  overflow-x: hidden;
}
:target {
  scroll-margin-top: 100px;
}

.gradient-shadow {
  position: relative;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.gradient-shadow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.05);
  width: 100%;
  height: 100%;
  z-index: -1;

  background: linear-gradient(
    to right,
    #35605a,
    #88b876,
    #cdeb85
  ); 

  filter: blur(
    10px
  );
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.gradient-shadow:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.gradient-shadow:hover {
  transform: translateY(-3px);
  opacity: 1;
}

.txt-animado span {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
  animation: escreverApagar 25s linear infinite;
}

.txt-animado span::before {
  content: "Desenvolvedor Web";
  animation: palavras 25s steps(1, end) infinite;
  color: #f8f8f8;
  padding-right: 10px;
}

.txt-animado span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 4px;
  max-width: 4px;
  background-image: linear-gradient(to bottom, #cdeb85, #88b876, #35605a);
  animation: cursorEscreve 25s ease-in infinite;
}

@keyframes cursorEscreve {
  0% {
    width: 0;
  }
  5% {
    width: 100%;
  }
  15% {
    width: 100%;
  }
  20% {
    width: 0;
  }

  25% {
    width: 100%;
  }
  35% {
    width: 100%;
  }
  40% {
    width: 0;
  }

  45% {
    width: 100%;
  }
  55% {
    width: 100%;
  }
  60% {
    width: 0;
  }

  65% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
}

@keyframes palavras {
  0% {
    content: "Desenvolvedor Web";
  }
  20% {
    content: "Engenheiro de Software";
  }
  40% {
    content: "Estudante de Computação";
  }
  60% {
    content: "Entusiasta de Tecnologia";
  }
  80% {
    content: "Programador Full Stack";
  }
  100% {
    content: "Desenvolvedor Web";
  }
}

@keyframes escreverApagar {
  0% {
    width: 0;
  }
  5% {
    width: 100%;
  }
  15% {
    width: 100%;
  }
  20% {
    width: 0;
  }

  25% {
    width: 100%;
  }
  35% {
    width: 100%;
  }
  40% {
    width: 0;
  }

  45% {
    width: 100%;
  }
  55% {
    width: 100%;
  }
  60% {
    width: 0;
  }

  65% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  80% {
    width: 0;
  }

  85% {
    width: 100%;
  }
  95% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* BUBBLES */
.blob-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 400px;

  pointer-events: none;
  z-index: 0;
  opacity: 0.8;
  overflow: visible;
}

.blob {
  border-radius: 50%;
  filter: blur(80px);
  position: absolute;
}

.green {
  background-color: #88b876;
  top: 50%;
  left: 30%;
  height: 150px;
  width: 150px;
  animation: green 10s infinite alternate ease-in-out;
}

.dark-green {
  background-color: #35605a;
  top: 20%;
  right: 30%;
  height: 130px;
  width: 180px;
  animation: dark-green 12s infinite alternate ease-in-out;
}

.light-green {
  background-color: #cdeb85;
  top: 70%;
  right: 20%;
  height: 130px;
  width: 130px;
  animation: light-green 14s infinite alternate ease-in-out;
}

@keyframes green {
  0% {
    top: 45%;
    left: 25%;
    transform: scale(1);
  }
  15% {
    top: 60%;
    left: 15%;
    transform: scale(1.1);
  } /* Descendo para a esquerda, mas não tão longe */
  35% {
    top: 30%;
    left: 50%;
    transform: scale(1.3);
  } /* Subindo para a direita, mais contido */
  55% {
    top: 70%;
    left: 35%;
    transform: scale(1.05);
  } /* Descendo novamente, mais centralizado */
  75% {
    top: 20%;
    left: 15%;
    transform: scale(1.25);
  } /* Indo para o canto superior esquerdo, mais próximo */
  100% {
    top: 45%;
    left: 25%;
    transform: scale(1);
  }
}

@keyframes dark-green {
  0% {
    top: 15%;
    right: 25%;
    transform: scale(1.1);
  }
  15% {
    top: 10%;
    right: 40%;
    transform: scale(0.95);
  } /* Indo para o canto superior direito, mais contido */
  35% {
    top: 50%;
    right: 15%;
    transform: scale(1.2);
  } /* Descendo para a esquerda, oposta à verde */
  55% {
    top: 30%;
    right: 35%;
    transform: scale(1.05);
  } /* Subindo, cruzando a verde, mais central */
  75% {
    top: 60%;
    right: 20%;
    transform: scale(1.15);
  } /* Indo para o canto inferior esquerdo, mais próximo */
  100% {
    top: 15%;
    right: 25%;
    transform: scale(1.1);
  }
}

@keyframes light-green {
  0% {
    top: 65%;
    right: 15%;
    transform: scale(1);
  }
  15% {
    top: 50%;
    right: 10%;
    transform: scale(1.2);
  } /* Subindo para a direita, se aproximando da verde */
  35% {
    top: 80%;
    right: 30%;
    transform: scale(1.35);
  } /* Descendo para o canto inferior direito, mais contido */
  55% {
    top: 20%;
    right: 15%;
    transform: scale(1.1);
  } /* Indo para o canto superior esquerdo, cruzando */
  75% {
    top: 40%;
    right: 40%;
    transform: scale(1.25);
  } /* Indo para o centro-direita, se unindo às outras */
  100% {
    top: 65%;
    right: 15%;
    transform: scale(1);
  }
}

.truncate-text-2-lines {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-button-prev,
.swiper-button-next {
  color: #88b876 !important;
}
.swiper-pagination-bullet {
  background: #88b876 !important;
  opacity: 0.3;
}
.swiper-pagination-bullet-active {
  background: #88b876 !important;
  opacity: 1;
}
